body, html{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    padding: 24px 0 24px 24px;
    font-size: 48px;
    color: white;
    background-color: rgb(51, 51, 51);
    font-weight: bold;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: rgb(230, 230, 230);
    min-height: calc(100vh - 114px);
}
.nav-bar{
    background-color: rgb(168, 168, 168);
    padding: 34px 34px 0 34px;
    font-size: 20px;
    min-width: 230px;
}

.home-image, .add-project-image{
    margin: 4px 0 0 4px;
    width: 20px;
    float: left;
    margin-right: 10px;
}

.nav-bar-home, .add-project-button{
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 8px;
    white-space: nowrap;
    padding: 10px;
}
.nav-bar-home:hover, .add-project-button:hover{
    background-color: rgb(204, 204, 204);

}

.project-header{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content{
    padding: 10px 0 0 80px;
}

.add-task{
    border: none;
    background-color: transparent;
    font-size: 20px;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    text-align: left;
    cursor: pointer;
}

.add-task:hover{
    background-color: rgb(204, 204, 204);
}

.add-project-input, .add-task-input{
    height: 20px;
    padding: 10px;
    border-radius: 8px;
    width: 90%;
    font-size: 16px;
    border: 1px solid rgb(126, 126, 126);
    margin-bottom: 20px;
}

textarea:focus, input:focus{
    outline: none;
}

.add-project-confirm-button, .add-task-confirm-button{
    background-color: rgb(60, 255, 86);
    border: 2px solid rgb(60, 167, 56);
}
.add-project-confirm-button:hover, .add-task-confirm-button:hover{
    filter: brightness(0.9);
}
.add-project-cancel-button{
    background-color: rgb(247, 73, 73);
    border: 2px solid rgb(192, 35, 35);
    margin-left: 6%;
}
.add-task-cancel-button{
    background-color: rgb(247, 73, 73);
    border: 2px solid rgb(192, 35, 35);
    margin-left: 4.35%;
}
.add-project-cancel-button:hover, .add-task-cancel-button:hover{
    filter: brightness(0.9);
}
.add-project-confirm-button, .add-project-cancel-button{
    display: inline;
    font-weight: bold;
    border-radius: 8px;
    padding: 6px 28px;
    cursor: pointer;
}
.project{
    display: flex;
    border-radius: 8px;
    padding: 10px;
    cursor:pointer;
    justify-content: space-between;
}
.project:hover{
    background-color: rgb(204, 204, 204);
}
.remove-button, .project-remove-button{
    font-weight: bold;
    margin-left: auto;
}

.add-task-confirm-button, .add-task-cancel-button{
    display: inline;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 220px;
    font-size: 20px;
    cursor: pointer;
    width: 40%;
}

.add-task-input{
    min-width: 1018px;
}

.task{
    display: flex;
    border-radius: 8px;
    padding: 20px;
    cursor:pointer;
    width: 76.5%;
    font-size: 20px;
}

.task:hover{
    background-color: rgb(204, 204, 204);
}

.task-duedate{
    margin-left: 80%;
}