
h1{
    text-align: center;
}

.size-button-container{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}
#user-size-request{
    height:30px;
    width: 100px;
    border-radius: 8px;
    color: white;
    border: none;
    background-color: dodgerblue;
}
#user-size-request:hover{
    color: dodgerblue;
    background-color: white;
    border: 1px solid dodgerblue;
}

.grid-container{
    border:20px solid dodgerblue;
    border-radius: 30px;
    display: grid;
    margin: 0 auto 20px auto;
    width: 500px;
    height: 500px;
}
.grid-container div{
    border: 0.1px solid gray;
}

.reset-button-container{
    display:flex;
    justify-content: center;
}

#user-reset-request{
    height:30px;
    width: 100px;
    border-radius: 8px;
    color: white;
    border: none;
    background-color:crimson;
}
#user-reset-request:hover{
    color: crimson;
    background-color: white;
    border: 1px solid crimson;
}